.bar{
    border-bottom: 10px solid var(--black, black);
    display: grid;
    grid-template-columns: auto fit;
    justify-content: space-between;
    align-items: center;
}

.sub-bar{
    border-bottom: 10px solid var(--black, black);
    display: grid;
    grid-template-columns: 1fr auto ;
}